<p id="notice"><%= flash[:notice] %></p>

<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
    <%= render 'users/userinfo', user: @user, book: @book %>

    <div class="col-md-8 offset-md-1">
  		<h2>Book detail</h2>
  		<table class="table">
  		  <tbody><tr>
          <td><a href="/users/133084">
            <%= link_to(user_path(@book_detail.user)) do %>
              <%= image_tag @book_detail.user.get_profile_image(100,100) %>
              <%= @book_detail.user.name %>
</a>          </td>
          <td><%=link_to @book_detail.title, book_path(@book_detail.id) %></td>
          <td><%= @book_detail.body %></td>
            <td>
              <%=link_to "Edit", edit_book_path(@book_detail.id), class:"btn btn-sm btn-success" %>
            </td>
            <td>
              <%=link_to "Destroy", book_path(@book_detail.id), method: :delete, class:"btn btn-sm btn-danger", "data-confirm" => "本当に消しますか？" %>

            </td>
        </tr>
      </tbody></table>
    <% end %>

    </div>
  </div>
</div>




